@{
    ViewData["Title"] = "Home Page";
}

@model Assignment10v2.Models.ViewModels.BowlerListViewModel


<div class="text-center">
    <h2>Contact List</h2>

    @foreach (var x in Model.Teams)
    {

        {

        }
        <!--This gives us the team name of the one we click on-->
        <h4>@x.TeamName</h4>
    }
    <p>
        @foreach (var b in Model.Bowlers)
        {
            <div><b>@b.BowlerLastName, @b.BowlerFirstName @b.BowlerMiddleInit</b></div>
            <div>@b.BowlerAddress @b.BowlerCity, @b.BowlerState @b.BowlerZip</div>
            <div>@b.BowlerPhoneNumber</div><br />

        }
    </p>

    <div page-model="@Model.PagingInfo"
         page-action="Index"
         page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         page-url-team="@Model.Team"></div>
</div>